nav .menu-btn {
  display: none;
}

@media (max-width: 1100px) {
  nav {
    justify-content: space-between;
    height: 65px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    background: #fff;
    border-bottom: 4px solid #5a76fd;
    width: 100%;
    padding-bottom: 13px;
  }

  .menu li {
    width: 100%;
    display: flex;
  }
  .menu li a {
    margin: 0 auto;
  }

  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon::before,
  nav .menu-icon .nav-icon::after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon::before {
    top: 5px;
  }
  nav .menu-icon .nav-icon::after {
    top: -5px;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}

/* Sobre  */

@media (max-width: 1290px) {
  .banner-about h1 {
    padding-left: 40px;
  }

  .about > :is(h2, h3, h4, p) {
    padding-left: 40px;
  }
  .social-media {
    padding-left: 40px;
  }
}
@media (max-width: 960px) {
  .banner-about img {
    width: 370px !important;
  }
  .banner-about h1 {
    font-size: 2.6em;
  }
  @media (max-width: 400px) {
    .banner-about h1 {
      font-size: 2em;
    }
  }
}

/* Contato */

@media (max-width: 1024px) {
  .contact-content {
    padding: 0 20px;
  }
  .contact-content h1 {
    font-size: 2.3em;
  }
  .contact-content h2 {
    font-size: 1.6em;
  }
  .cognito {
    padding: 0 20px;
  }
}

/* Ajustes responsivos Index */
@media (max-width: 1024px) {
  .services {
    width: 850px;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .landing-page--logo {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 850px) {
    .services {
      width: 450px;
      margin: 0 auto;
    }
  }
}
@media (max-width: 470px) {
  .services {
    width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .plan{
    flex-wrap: wrap;
  }
}
@media (max-width:470px) {
  .landing-page--services{
    width: 100%;
  }
}
@media (max-width:400px) {
  .landing-page--main , .banner{
    width: 130vw !important;
  }
}

